# Root
.env
.idea
.ssh
.php_cs.cache
.php-cs-fixer.cache
.pnpm-store
.pnpm-debug.log
var
vendor
*.crt


# TYPO3 related files
public/fileadmin
public/typo3
public/typo3temp
!public/.htaccess
public/fonts


public/FIRST_INSTALL
public/typo3conf/ENABLE_INSTALL_TOOL


# Extensions
public/typo3conf/ext/*

*.tar.*
*.log
